

.vscode/
__pycache__/

# Custom by ntobler

python/web/debug/*
python/*.png
*.pkl

.vscode

#custom ftobler
*.b#*
*.s#*
*.l#*
pickplazstm/Debug/*
pickplazstm/Release/*
pickplazstm/Debug/*
pickplazstm/.settings/*
pickplazfeederstm/Debug/*
pickplazfeederstm/Release/*
pickplazfeederstm/.settings/*
python/user/*
backup/*
