<!DOCTYPE html>
<html>
<head>
    <title>pick-plaz</title>
    <script src="vue.min.js"></script>
    <script src="pickplaz.js"></script>
    <script src="footprints.js"></script>
    <link rel="stylesheet" href="pickplaz.css">
    <link rel="stylesheet" href="materialicons.css">
    <html lang="en"></html>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
</head>
<body onload="start()" class="noselect" style="text-align: center;">
<div id="app" style="width: 100%; max-width: 2600px; margin:0 auto; visibility: hidden;">


    <div class="alert" v-if="activealert">
        <div class="alert-content">
            <h1>Alert</h1>
            <div class="alert-inner">
                <p>{{activealert.msg}}</p>
<!--                 <input type="text" id="lname" name="lname"> mm
                <div class="alert-selection" v-for='answer in ["auto detect zone", "fixed grid", "strip", "x", "y"]'>{{answer}}</div> -->
            </div>
            <div class="alert-button-list">
                <div class="alert-button" v-for="answer in activealert.answers" v-on:click="do_alert_quit(activealert.id, answer)">{{answer}}</div>
            </div>
        </div>
    </div>


<!--     <div class="alert">
        <div class="alert-content">
            <h1>Feeder</h1>
            <div class="alert-inner">
                <p>Please enter X-Position:</p>
                <input type="text" id="lname" name="lname"> mm
                <div class="alert-selection" v-for='answer in ["auto detect zone", "fixed grid", "strip", "x", "y"]'>{{answer}}</div>
            </div>
            <div class="alert-button-list">
                <div class="alert-button">Cancel</div>
            </div>
        </div>
    </div> -->

    <div class="menu">
        <a class="logo" href="https://github.com/ftobler/pick-plaz" target="_blank">pick-plaz</a>
        <div class="menu-item" v-bind:class="{active : page == 0}" v-on:click="do_nav(0)">Parts</div>
        <div class="menu-item" v-bind:class="{active : page == 1}" v-on:click="do_nav(1)">Feeder</div>
        <div class="menu-item" v-bind:class="{active : page == 2}" v-on:click="do_nav(2); setTimeout(() => {draw_stuff()})">Navigate</div>
        <div class="menu-item menu-material" v-on:click="menu_hamburger = !menu_hamburger" v-bind:class="{active : menu_hamburger}">menu
            <div v-if="menu_hamburger">
                <div class="menu-menu-item" v-on:click="do_sequence('home')">Home</div>
                <div class="menu-menu-item" v-on:click="do_sequence('motor_off')">Motor Off</div>
                <div class="menu-menu-item" v-on:click="do_sequence('motor_on')">Motor On</div>
                <div class="menu-menu-item" v-on:click="do_sequence('calibrate_topdn')">Calibrate Camera</div>
                <div class="menu-menu-item" v-on:click="do_sequence('shutdown')">Shutdown</div>
            </div>
        </div>

        <div style="float: right;">
            <form class="menu-pane" method='POST' action='#' enctype='multipart/form-data' id='upload_form'>
                <div class="menu-label">BOM & PNP</div>
                <input class="menu-content" type="file" id="bom_file" name="bom_upload">
                <input class="menu-content" type="file" id="pnp_file" name="pnp_upload">
                <div class="menu-upload" v-on:click="do_upload()">north</div>
            </form>
            <div class="menu-pane">
                <div class="menu-material" v-on:click="do_sequence('play')">play_arrow</div>
                <div class="menu-material" v-on:click="do_sequence('pause')">pause</div>
                <div class="menu-material stop" v-on:click="do_sequence('stop')">stop</div>
            </div>
        </div>
    </div>

    <div class="content">

        <div v-if="page == 0">

            <table>
                <tr>
                    <th width="10px">#</th>
                    <th class="small" width="15px">Place</th>
                    <th class="small" width="20px">Fiducial</th>
                    <th width="130px">Value</th>
                    <th width="90px">Footprint</th>
                    <th width="30px"></th>
                    <th width="130px">Part Nr</th>
                    <th width="100px">Feeder</th>
                    <th width="60px">Rotation</th>
                    <th class="small" width="40px">Designator</th>
                    <th class="small" width="40px">X-Pos</th>
                    <th class="small" width="40px">Y-Pos</th>
                    <th class="small" width="40px">Rotation</th>
                    <th width="70px">Status</th>
                    <th width="200px">Action</th>
                </tr>
                <tr v-for="(entry, i) in db.bom">
                    <td :rowspan="entry.parts.length">{{i}}</td>
                    <td><input type="checkbox" v-model="entry.place"  v-if="!entry.fiducial"></td>
                    <td><input type="checkbox" v-model="entry.fiducial"></td>
                    <td>{{entry.value}}</td>
                    <td>{{entry.footprint}}</td>
                    <td><img v-bind:src="entry.footprint | footprint_img_path"/> &nbsp;&nbsp;<img v-bind:src="entry.footprint | footprint_sym_path"/></td>
                    <td><a v-bind:href="'https://lcsc.com/search?q=' + entry.partnr" target="_blank">{{entry.partnr}}</a></td>
                    <td contenteditable v-on:input="do_sequence($event.target.innerHTML)">{{entry.feeder}}</td> <!-- https://codepen.io/supraniti/pen/Lypobx -->
                    <td width="200px"><div class="table-button material" v-on:click="do_bom_rotate(entry, i)">refresh</div> {{entry.rot}}</td>
                    <td class="cell-inline-table" colspan=6>
                        <table class="cell-inline-table">
                            <tr v-for="(part, id, index) in entry.parts">
                                <td width="40px">{{id}}</td>
                                <td width="40px">{{part.x}}</td>
                                <td width="40px">{{part.y}}</td>
                                <td width="40px">{{part.rot}}</td>
                                <td width="70px"><div class="table-button material">swap_calls</div> {{part_state(part.state)}}</td>
                                <td v-if="entry.fiducial == false" width="200px">
                                    <button v-on:click="part_view_place(part)">view place</button>
                                    <button v-on:click="part_view_pick(entry)">view pick</button>
                                    <button v-on:click="part_do_place(entry, part, id)">do place</button>
                                </td>
                                <td v-if="entry.fiducial == true"  width="200px">
                                    <button v-on:click="fiducial_goto(part)">goto</button>
                                    <button v-on:click="fiducial_assing_current_location(id, 'assign')">assign</button>
                                    <button v-on:click="fiducial_assing_current_location(id, 'unassign')">unassign</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </div>

        <div v-if="page == 1">
            <table>
                <tr>
                    <th width="100px">Name</th>
                    <th width="100px">Type</th>
                    <th width="80px">X</th>
                    <th width="80px">Y</th>
                    <th width="80px">width</th>
                    <th width="80px">height</th>
                    <th width="80px">Pitch</th>
                    <th width="80px">Orientation</th>
                    <th width="100px">Status</th>
                    <th width="100px">Action</th>
                </tr>
                <tr v-for="(entry, name) in db.feeder">
                    <td>{{name}}</td>
                    <td><div class="table-button material">swap_calls</div> {{entry.type}}</td>
                    <td>{{entry.x}}</td>
                    <td>{{entry.y}}</td>
                    <td>{{entry.width}}</td>
                    <td>{{entry.height}}</td>
                    <td>{{entry.pitch}}</td>
                    <td><div class="table-button material" v-on:click="do_bom_rotate(entry, i)">refresh</div> {{entry.Orientation}}</td>
                    <td><div class="table-button material">swap_calls</div> {{feeder_state(entry.state)}}</td>
                    <td><button>test pick</button> <button>goto</button></td>
                </tr>
            </table>
        </div>

        <div v-if="page == 2">
            <div style="margin-bottom: 20px">
                <label class="switch"><input type="checkbox" checked v-model="elements.show_camera"><span class="slider round"></span></label>
                <label class="switcher-label">show camera</label>
                <label class="switch"><input type="checkbox" checked v-model="elements.center_camera"><span class="slider round"></span></label>
                <label class="switcher-label">center camera</label>
                <!--<label class="switch"><input type="checkbox" checked v-model="elements.show_components"><span class="slider round"></span></label>
                <label class="switcher-label">show component graphics</label>-->
                <label class="switch"><input type="checkbox" checked v-model="elements.show_symbol"><span class="slider round"></span></label>
                <label class="switcher-label">show symbols</label>
                <span style="width: 250px; display: inline-block"><label v-if="nav_init">mouse: ({{canvas.cursor_mm.x | round}}/{{canvas.cursor_mm.y | round}})mm</label></span>
                <span style="width: 250px; display: inline-block"><label v-if="nav_init">robot ({{nav.camera.x | round}}/{{nav.camera.y | round}})mm</label></span>
                <button class="fiducial-assign" v-for="(part, id)  in fiducial_bom.parts">{{id}}<div class="fiducial-assign-hint">assign/unassign Fiducial</div></button>
            </div >
            <canvas id="canvas-view" width="1850" height="800" @mousemove="mousemove" v-on:click="mouseclick" @mousewheel="mousewheel" @mousedown="mousedown" @mouseup="mouseup"></canvas>


        </div>
    </div>




</div>
</body>
</html>