
html {
    height: 100%;
}
body {
    /*background-color: rgb(20,20,20);*/
    background-color: rgb(21, 23, 31);
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position:relative;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-y: scroll; /* Show vertical scrollbar */
    font-size: 12pt;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(116, 116, 116);
}


a:link, a:visited {
    color: white;
}
a:hover {
    color: rgb(255, 196, 196);
}


button {
    height: 30px;
    transform: skew(-15deg);
    cursor: pointer;

    background-color: rgb(0, 150, 92);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    transition: 0.3s;
}
button:hover {
    background-color: rgb(0, 102, 63);
}
button:active {
    background-color: rgb(0, 235, 145);
    transition: 0s;
}
td button {
    height: 24px;
}




.menu {
    margin: 10px;
    margin-bottom: 0px;
    height: 70px;
    text-align: center;
}
.menu-item {
    text-align: center;
    vertical-align: middle;
    float: left;
    margin: 10px;
    background-color: rgb(50,50,50);
    width: 120px;
    line-height: 44px;
    height: 44px;
    font-weight: bold;
    transform: skew(-15deg);
    cursor: pointer;
    position: sticky;
    z-index: 5;
    transition: 0.3s;
}
.menu-menu-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    float: left;
    background-color: rgb(50,50,50);
    width: 180px;
    line-height: 28px;
    height: 32px;
    font-weight: normal;
    cursor: pointer;
    font-size: 11pt;
    transition: 0.3s;
}
.menu-menu-item:hover {
    background-color: rgb(70,70,70);
    transition: 0.05s;
}
.menu-menu-item:active {
    background-color: rgb(0, 150, 92);
    transition: 0s;
}

.menu-item:hover {
    background-color: rgb(70,70,70);
}

.menu-item.active {
    background-color: rgb(0, 150, 92);
}
.menu-item.active:hover {
    background-color: rgb(0, 150, 92);
    transition: 0s;
}

.menu-pane {
    float: left;
    margin: 10px;
    background-color: rgb(50,50,50);
    height: 44px;
    line-height: 44px;
    font-weight: bold;
    color: white;
    transform: skew(-15deg);
    overflow: hidden;
}

.menu-label {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 44px;
    background-color: rgb(70,70,70);
}

.menu-content {
    margin-left: 10px;
    vertical-align: text-top;
    width: 200px;
}

.menu-upload {
    float: right;
    width: 44px;
    height: 44px;
    font-family: "Material Icons";
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}
.menu-upload:hover {
    background-color: rgb(70,70,70);
}
.menu-upload:active {
    background-color: rgb(124, 124, 124);
    transition: 0s;
}

.stop {
    background-color: rgb(151, 0, 0) !important;
}
.stop:hover {
    background-color: rgb(175, 57, 57) !important;
}
.stop:active {
    background-color: rgb(245, 115, 115) !important;
}

.menu-material {
    float: left;
    background-color: rgb(50,50,50);
    width: 50px;
    height: 44px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: "Material Icons";
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}
.menu-material:hover {
    background-color: rgb(70,70,70);
}
.menu-material:active {
    background-color: rgb(0, 150, 92);
    transition: 0s;
}


.menu-item-material {
    display: inline-block;
    font-family: "Material Icons";
    margin-right: 10px;
    transform: translate(0, 2px) skew(15deg);
}

.material {
    display: inline-block;
    font-family: "Material Icons";
}

.logo {
    float: left;
    margin: 10px;
    margin-top: 7px;
    padding: 2px;
    font-size: 18pt;
    color: white;
    font-weight: 900;
}
.logo::before {
    position: absolute;
    content: "by ftobler & ntobler";
    text-decoration: none;
    font-size: 8pt;
    margin-top: 30px;
    margin-left: 1px;
}









.content {
    /*background-color: black;*/
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-grow: 1;
    position: relative;
}


table {
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}
tr {
    height: 30px;
    border-bottom: 1px solid rgb(100,100,100);
    transition: 0.3s;
}
tr:hover {
    background-color: rgba(255,255,255,0.05);
    transition: 0.0s;
}
th {
    border-bottom: 3px solid rgb(100,100,100);
}
td, th {
    padding-left: 5px;
    padding-right: 5px;
}
td {
    height: 32px;
}
.table-button {
    display:  inline-block;
    vertical-align: sub;
    transition: 0.3s;
}
.table-button:hover {
    background-color: rgba(255,255,255,0.15);
    cursor: pointer;
}
.table-button:active {
    background-color: rgb(0, 150, 92);
    transition: 0s;
}
.table-button.material {
    font-family: "Material Icons";
    font-size: 20px;
    padding: 6px;
    border-radius: 100%;
}
.cell-inline-table {
    margin: 0px;
    padding: 0px;
    margin-bottom: -1px;
    margin-top: -1px;
    border-bottom: 1px solid rgb(100,100,100);
    border-top: 1px solid rgb(100,100,100);
}
.tab {
    margin-left: 20px;
}
th.small {
    font-size: 10pt;
    text-align: left;
    transform: translate(5px, -10px) rotateZ(-30deg);
}
tr.inactive {
    background: repeating-linear-gradient(
        -60deg,
        #00000000,
        #00000000 10px,
        #5e5e5e 10px,
        #5e5e5e 11px
      );
    opacity: 0.5;
}
tr.error {
    background-color: #ff000038;
}
tr.placed {
    background-color: #00ff7338;
}
tr.skip {
    background-color: #ffffff38;
}

.badge {
    background-color: #ffffff17;
    border-radius: 100px;
    display: inline-block;
    margin: 3px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}
.badge input {
    margin: 8px;
    vertical-align: middle
}
.badge b {
    display: inline-block;
    padding-top: 4px;
    height: 28px;
}







canvas {
    border: 1px solid rgb(50,50,50);
}



.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.slider.round { /* Rounded sliders */
    border-radius: 100px;
}
.slider.round:before {
    border-radius: 50%;
}
.switcher-label {
    margin-right: 20px;
}

.fiducial-assign {
    width: 42px;
    margin-left: 2px;
    margin-right: 2px;
}
.fiducial-assign-hint {
    opacity: 0;
    position: absolute;
    top: 34px;
    left: 50%;
    margin-left: -44px;
    width: 88px;
    padding: 2px;
    background-color: rgb(50,50,50);
    transform: skew(15deg);
    font-size: 9pt;
    transition: 0.5s;
    pointer-events: none;
}
.fiducial-assign-hint::after {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 3px;
    transform:  translate(-10px, -10px) rotate(45deg);
    background-color: rgb(50,50,50);
    content: " ";
    z-index: -1;  /* to be below the parent element */
}
.fiducial-assign:hover .fiducial-assign-hint {
    opacity: 1;
}



.alert {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 500px;
    padding-top: 600px; /* Location of the box */
    margin: -500px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: none;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.alert-content {
    /*background-color: rgb(151, 0, 0);*/
    background-color: rgb(21, 23, 31);
    margin: auto;
    text-align: left;
    vertical-align: top;
    min-height: 200px;
    width: 610px;
    transform: skew(-15deg);
    overflow: hidden;
    position: relative;
    transition: transition-alert;
}
.alert-content h1 {  /* nested selector (space)*/
    margin: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
}
.alert-close {
    float: right;
    font-family: "Material Icons";
    font-size: 24px;
    margin-right: 20px;
    margin-top: -37px;
}
.alert-close:hover {
    background-color: rgb(175, 57, 57);
}
.alert-close:active {
    background-color: rgb(245, 115, 115);
}


.alert-inner {
    transform: skew(15deg);
    margin-left: 110px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.alert-inner input,.alert-inner select,.alert-inner option {
    height: 30px;
    color: white;
    background-color: rgb(13, 14, 19);
    border-radius: 2px;
    border: 1px solid grey;
    text-decoration: none;
    width: 330px
}
.alert-inner select::-webkit-scrollbar {
    width: 8px;
}
.alert-inner select::-webkit-scrollbar-thumb {
    background-color: rgb(116, 116, 116);
}

.alert-button-list {
    position: relative;
    bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
    text-align: right;
}
.alert-button {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    width: 140px;
    line-height: 44px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(34, 37, 46);
    transition: 0.3s;
}
.alert-button:hover {
    background-color: rgb(58, 61, 73);
}
.alert-button:active {
    background-color: rgb(96, 99, 112);
    transition: 0s;
}


.alert-selection-list {
    transform: skew(15deg);
}
.alert-selection {
    display: block;
    margin-top: 2px;
    font-weight: bold;
    width: 370px;
    line-height: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgb(13, 14, 19);
}

.alert-selection:hover {
    background-color: rgb(34, 37, 46);
}

.alert-icon {
    position: absolute;
    font-family: "Material Icons";
    font-size: 48px;
    color: rgba(255,255,255,0.4);
    transform: skew(15deg);
    left: 35px;
    top: 90px;
}


.debug-page {
    text-align: left;
    margin-left: -10px;
    margin-right: -5px;
}

.debug-page h1, .debug-page h2, .debug-page h3 {
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 10px;
}

.debug-section {
    float: left;
    margin: 5px;
    padding: 10px;
    width: 430px;
    height: 370px;
    background-color: rgb(13, 14, 19);
    overflow: hidden;
}

.debug-section p{
    margin-top: 0;
    margin-bottom: 7px;
}
.debug-section a{
    display: block;
    text-align: center;
    width: 430px;
}
.debug-section img{
    max-width: 410px;
    max-height: 340px;
}
.debug-text {
    font-weight: bold;
}



.page {
    position: absolute;
    left: 0;
    top: 0;
}

.transition-page-enter-active {
    transition: .3s ease-in-out;
}
.transition-page-leave-active {
    transition: .3s ease-in-out;
}
.transition-page-enter{
    transform: translateX(300px);
    opacity: 0;
}
.transition-page-leave-to {
    transform: translateX(-300px);
    opacity: 0;
}



.transition-alert-enter-active {
    transition: .3s ease-in-out;
}
.transition-alert-leave-active {
    transition: .3s ease-in-out;
}
.transition-alert-enter{
    transform: translateY(-150px);
    opacity: 0;
}
.transition-alert-leave-to {
    transform: translateY(-150px);
    opacity: 0;
}



.transition-hamburger-enter-active {
    transition: .2s ease-in-out;
}
.transition-hamburger-leave-active {
    transition: .2s ease-in-out;
}
.transition-hamburger-enter{
    transform: translateY(-50px);
    opacity: 0;
}
.transition-hamburger-leave-to {
    transform: translateY(-50px);
    opacity: 0;
}