
html {
    height: 100%;
}
body {
    /*background-color: rgb(20,20,20);*/
    background-color: rgb(21, 23, 31);
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position:relative;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-y: scroll; /* Show vertical scrollbar */
    font-size: 12pt;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(116, 116, 116);
}


a:link, a:visited {
    color: white;
}
a:hover {
    color: rgb(255, 196, 196);
}


button {
    height: 30px;
    transform: skew(-15deg);
    cursor: pointer;

    background-color: rgb(0, 150, 92);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
button:hover {
    background-color: rgb(0, 102, 63);
}




.menu {
    margin: 10px;
    margin-bottom: 0px;
    height: 70px;
    text-align: center;
}
.menu-item {
    text-align: center;
    vertical-align: middle;
    float: left;
    margin: 10px;
    background-color: rgb(50,50,50);
    width: 120px;
    line-height: 44px;
    height: 44px;
    font-weight: bold;
    transform: skew(-15deg);
    cursor: pointer;
    position: sticky;
    z-index: 5;
}
.menu-menu-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    float: left;
    background-color: rgb(50,50,50);
    width: 120px;
    line-height: 32px;
    height: 32px;
    font-weight: normal;
    cursor: pointer;
    font-size: 11pt;
}
.menu-menu-item:hover {
    background-color: rgb(70,70,70);
}
.menu-menu-item:active {
    background-color: rgb(0, 150, 92);
}

.menu-item:hover {
    background-color: rgb(70,70,70);
}

.menu-item.active {
    background-color: rgb(0, 150, 92);
}
.menu-item.active:hover {
    background-color: rgb(0, 150, 92);
}

.menu-pane {
    float: left;
    margin: 10px;
    background-color: rgb(50,50,50);
    height: 44px;
    line-height: 44px;
    font-weight: bold;
    color: white;
    transform: skew(-15deg);
    overflow: hidden;
}

.menu-label {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 44px;
    background-color: rgb(70,70,70);
}

.menu-content {
    margin-left: 10px;
    vertical-align: text-top;
    width: 200px;
}

.menu-upload {
    float: right;
    width: 44px;
    height: 44px;
    font-family: "Material Icons";
    font-size: 24px;
    cursor: pointer;
}

.menu-upload:hover {
    background-color: rgb(70,70,70);
}

.stop {
    background-color: rgb(151, 0, 0) !important;
}
.stop:hover {
    background-color: rgb(175, 57, 57) !important;
}
.stop:active {
    background-color: rgb(245, 115, 115) !important;
}

.menu-material {
    float: left;
    background-color: rgb(50,50,50);
    width: 50px;
    height: 44px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: "Material Icons";
    font-size: 24px;
    cursor: pointer;
}
.menu-material:hover {
    background-color: rgb(70,70,70);
}
.menu-material:active {
    background-color: rgb(0, 150, 92);
}


.logo {
    float: left;
    margin: 10px;
    margin-top: 7px;
    padding: 2px;
    font-size: 18pt;
    color: white;
    font-weight: 900;
}
.logo::before {
    position: absolute;
    content: "by ftobler & ntobler";
    text-decoration: none;
    font-size: 8pt;
    margin-top: 30px;
    margin-left: 1px;
}









.content {
    /*background-color: black;*/
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-grow: 1;
    position: relative;
}


table {
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}
tr {
    height: 30px;
    border-bottom: 1px solid rgb(100,100,100);
}
tr:hover {
    background-color: rgba(255,255,255,0.1);
}
th {
    border-bottom: 3px solid rgb(100,100,100);
}
td, th {
    padding-left: 5px;
    padding-right: 5px;
}
td {
    height: 50px;
    padding-bottom: 6px;
}
.table-button {
    display:  inline-block;
    vertical-align: sub;
}
.table-button:hover {
    background-color: rgba(255,255,255,0.15);
    cursor: pointer;
}
.table-button:active {
    background-color: rgb(0, 150, 92);
}
.table-button.material {
    font-family: "Material Icons";
    font-size: 20px;
    padding: 3px;
    margin-top: 3px;
}
.cell-inline-table {
    margin: 0px;
    padding: 0px;
    margin-bottom: -1px;
    margin-top: -1px;
    border-bottom: 1px solid rgb(100,100,100);
    border-top: 1px solid rgb(100,100,100);
}
.tab {
    margin-left: 20px;
}
th.small{
    font-size: 10pt;
    text-align: left;
    transform: translate(5px, -10px) rotateZ(-30deg);
}







canvas {
    border: 1px solid rgb(50,50,50);
}



.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.slider.round { /* Rounded sliders */
    border-radius: 100px;
}
.slider.round:before {
    border-radius: 50%;
}
.switcher-label {
    margin-right: 20px;
}

.fiducial-assign {
    width: 42px;
    margin-left: 2px;
    margin-right: 2px;
}
.fiducial-assign-hint {
    visibility: hidden;
    position: absolute;
    top: 34px;
    left: 50%;
    margin-left: -44px;
    width: 88px;
    padding: 2px;
    background-color: rgb(50,50,50);
    transform: skew(15deg);
}
.fiducial-assign-hint::after {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 3px;
    transform:  translate(-10px, -10px) rotate(45deg);
    background-color: rgb(50,50,50);
    content: " ";
    z-index: -1;  /* to be below the parent element */
}
.fiducial-assign:hover .fiducial-assign-hint {
    visibility: visible;
    font-size: 9pt;
}



.alert {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: none;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.alert-content {
    /*background-color: rgb(151, 0, 0);*/
    background-color: rgb(21, 23, 31);
    margin: auto;
    text-align: left;
    vertical-align: top;
    min-height: 200px;
    width: 550px;
    transform: skew(-15deg);
    overflow: hidden;
    position: relative;
}
.alert-content h1 {  /* nested selector (space)*/
    margin: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
}
.alert-inner {
    transform: skew(15deg);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.alert-inner input,.alert-inner select {
    height: 30px;
    color: white;
    background-color: rgb(13, 14, 19);
    border-radius: 2px;
    border: 1px solid grey;
    text-decoration: none;
    width: 330px
}
.alert-button-list {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 0px;
    text-align: right;
}
.alert-button {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    width: 140px;
    line-height: 44px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(34, 37, 46);
}
.alert-button:hover {
    background-color: rgb(58, 61, 73);
}


.alert-selection-list {
    transform: skew(15deg);
}
.alert-selection {
    display: block;
    margin-top: 2px;
    font-weight: bold;
    width: 370px;
    line-height: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgb(13, 14, 19);
}

.alert-selection:hover {
    background-color: rgb(34, 37, 46);
}


.debug-page {
    text-align: left;
    margin-left: -10px;
    margin-right: -5px;
}

.debug-page h1 {
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 10px;
}

.debug-section {
    float: left;
    margin: 5px;
    padding: 10px;
    width: 430px;
    height: 430px;
    background-color: rgb(13, 14, 19);
    overflow: hidden;
}

.debug-section p{
    margin-top: 0;
    margin-bottom: 7px;
}
.debug-section a{
    display: block;
    text-align: center;
    width: 430px;
}
.debug-section img{
    max-width: 410px;
    max-height: 400px;
}

