<!DOCTYPE html>
<html>
<head>
    <title>pick-plaz</title>
    <script src="vue.min.js"></script>
    <script src="pickplaz.js"></script>
    <script src="footprints.js"></script>
    <link rel="stylesheet" href="pickplaz.css">
    <link rel="stylesheet" href="materialicons.css">
    <html lang="en"></html>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
</head>
<body onload="start()" class="noselect" style="text-align: center;">
<div id="app" style="width: 100%; margin:0 auto; visibility: hidden;">

    <transition name="transition-alert"><div class="alert" v-if="dialogs.length > 0">
        <div class="alert-content">
            <h1>{{dialogs[0].title}}</h1>
            <div v-if="dialogs[0].close" class="alert-close" v-on:click="do_dialog_quit(null)">close</div>
            <div class="alert-icon">{{dialogs[0].material_image}}</div>
            <div class="alert-inner">
                <div style="height: 12px" v-if="!dialogs[0].input"> </div>
                <p>{{dialogs[0].msg}}</p>
                <div v-if="dialogs[0].input"><input type="text" v-model="dialogs[0].input_data" list="datalist"> {{dialogs[0].unit}}</div>
                <!-- <select v-if="dialogs[0].dropdown" v-model="dialogs[0].dropdown_selection"> -->
                <datalist  v-if="dialogs[0].dropdown" id="datalist">
                    <option v-for="s in dialogs[0].dropdown">{{s}}</option>
                </datalist >
                <div class="alert-selection" v-for='text in dialogs[0].selection'>{{text}}</div>
            </div>
            <div class="alert-button-list">
                <div class="alert-button" v-for="answer in dialogs[0].answers" v-on:click="do_dialog_quit(answer)">{{answer}}</div>
            </div>
        </div>
    </div></transition>

    <div class="menu">
        <a class="logo" href="https://github.com/ftobler/pick-plaz" target="_blank">pick-plaz</a>
        <div class="menu-item" v-bind:class="{active : page == 0}" v-on:click="do_nav(0)">Parts</div>
        <div class="menu-item" v-bind:class="{active : page == 1}" v-on:click="do_nav(1)">Feeder</div>
        <div class="menu-item" v-bind:class="{active : page == 2}" v-on:click="do_nav(2); setTimeout(() => {draw_stuff()})">Navigate</div>
        <div class="menu-item menu-material" v-on:click="menu_hamburger = !menu_hamburger" v-bind:class="{active : menu_hamburger}">menu
            <transition name="transition-hamburger"><div v-if="menu_hamburger">
                <div class="menu-menu-item" v-on:click="do_sequence('home')"><div class="menu-item-material">home</div>Home Robot</div>
                <div class="menu-menu-item" v-on:click="do_sequence('motor_off')"><div class="menu-item-material">power_off</div>Motor Off</div>
                <div class="menu-menu-item" v-on:click="do_sequence('motor_on')"><div class="menu-item-material">power</div>Motor On</div>
                <div class="menu-menu-item" v-on:click="do_sequence('calibrate_topdn')"><div class="menu-item-material">photo_camera</div>Calibrate Camera</div>
                <div class="menu-menu-item" v-on:click="do_sequence('calibrate_picker')"><div class="menu-item-material">vertical_align_bottom</div>Calibrate Picker</div>
                <div class="menu-menu-item" v-on:click="dialog_user_confirm('Do you want to shutdown the computer? This shuts down the operating system and not just the pick-plaz application.', () => {do_sequence('shutdown')})"><div class="menu-item-material">power_settings_new</div>Shutdown</div>
                <div class="menu-menu-item" v-on:click="do_save_restore('save')"><div class="menu-item-material">save</div>Save Context</div>
                <div class="menu-menu-item" v-on:click="do_save_restore('restore')"><div class="menu-item-material">restore</div>Restore Context</div>
                <div class="menu-menu-item" v-on:click="do_nav(3); poll_debug()"><div class="menu-item-material">analytics</div>Debug View</div>
                <div class="menu-menu-item" v-on:click="do_sequence('reset_board')"><div class="menu-item-material">restart_alt</div>Reset for new Board</div>
                <div class="menu-menu-item" v-on:click="fiducial_reset()"><div class="menu-item-material">filter_center_focus</div>Reset all fiducial</div>
            </div></transition>
        </div>

        <div style="float: right;">
            <form class="menu-pane" method='POST' action='#' enctype='multipart/form-data' id='upload_form'>
                <div class="menu-label">BOM & PNP</div>
                <input class="menu-content" type="file" id="bom_file" name="bom_upload">
                <input class="menu-content" type="file" id="pnp_file" name="pnp_upload">
                <div class="menu-upload" v-on:click="do_upload()">north</div>
            </form>
            <div class="menu-pane">
                <div class="menu-material" v-on:click="do_sequence('play')">play_arrow</div>
                <div class="menu-material" v-on:click="do_sequence('pause')">pause</div>
                <div class="menu-material stop" v-on:click="do_sequence('stop')">stop</div>
            </div>
        </div>
    </div>

    <div class="content">

        <transition name="transition-page"><div class="page" v-if="page == 0">

            <table>
                <tr>
                    <th width="10px">#</th>
                    <th class="small" width="15px">Place</th>
                    <th class="small" width="20px">Fiducial</th>
                    <th width="120px">Value</th>
                    <th width="90px">Footprint</th>
                    <th width="40px"></th>
                    <th width="130px">Part Nr</th>
                    <th width="100px">Feeder</th>
                    <th width="60px">Rotation</th>
                    <th class="small" width="40px">Designator</th>
                    <th class="small" width="40px">X-Pos</th>
                    <th class="small" width="40px">Y-Pos</th>
                    <th class="small" width="40px">Rotation</th>
                    <th width="70px">State</th>
                    <th width="200px">Action</th>
                </tr>
                <tr v-for="(part, i) in context.bom" v-bind:class="{ inactive: !part.place }">
                    <td :rowspan="part.designators.length">{{i}}</td>
                    <td><input type="checkbox" v-model="part.place" v-on:change="do_modify_bom_doplace(part, i)" v-if="!part.fiducial"></td>
                    <td><input type="checkbox" v-model="part.fiducial" v-on:change="do_modify_bom_isfiducial(part, i)"></td>
                    <td>{{Object.keys(part.designators).length}}x {{part.value}}</td>
                    <td><div class="table-button material" v-on:click="do_modify_bom_footprint(part, i)">edit</div>{{part.footprint}}</td>
                    <td><img v-bind:src="part.footprint | footprint_img_path"/> &nbsp;&nbsp;<img v-bind:src="part.footprint | footprint_sym_path"/></td>
                    <td><a v-bind:href="'https://lcsc.com/search?q=' + part.partnr" target="_blank">{{part.partnr}}</a></td>
                    <td><div class="table-button material" v-on:click="do_modify_bom_feeder(part, i)">edit</div>{{part.feeder}}</td>
                    <td><div class="table-button material" v-on:click="do_modify_bom_rotation(part, i)">refresh</div>{{part.rot}}</td>
                    <td class="cell-inline-table" colspan=6>
                        <table class="cell-inline-table">
                            <tr v-for="(designator, id, index) in part.designators"  v-bind:class="{ error: designator.state==2, placed: designator.state==1, skip: designator.state==3 }">
                                <td width="40px">{{id}}</td>
                                <td width="40px">{{designator.x}}</td>
                                <td width="40px">{{designator.y}}</td>
                                <td width="40px">{{designator.rot}}</td>
                                <td width="70px"><div class="table-button material" v-on:click="do_modify_part_state(id)">swap_calls</div> {{part_state(designator.state)}}</td>
                                <td v-if="part.fiducial == false" width="200px">
                                    <button v-on:click="do_part_goto(designator)">view place</button>
                                    <button v-on:click="do_part_place(id)">do place</button>
                                    <!--<button v-on:click="do_feeder_goto(part.feeder)">view pick</button>-->
                                </td>
                                <td v-if="part.fiducial == true"  width="200px">
                                    <button v-on:click="do_part_goto(designator)">goto</button>
                                    <button v-on:click="fiducial_assing_current_location(id, 'assign')">assign</button>
                                    <button v-on:click="fiducial_assing_current_location(id, 'unassign')">unassign</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </div></transition>

        <transition name="transition-page"><div class="page" v-if="page == 1">

            <table>
                <!--table for all tray feeders-->
                <tr>
                    <th width="60px">Name</th>
                    <th width="30px"></th>
                    <th width="280px">Custom Settings</th>
                    <th width="50px">Rotation</th>
                    <th width="60px">State</th>
                    <th width="60px">Action</th>
                </tr>
                <tr v-for="(entry, name) in context.feeder"  v-bind:class="{ inactive: entry.state == 0, error: entry.state == 2 }">
                    <td>{{name}} ({{feeder_type(entry.type)}})</td>
                    <td v-if="entry.type == 0"><img src="img/tray.png" style="max-height: 50px"></td>
                    <td v-if="entry.type == 1"><img src="img/belt.png" style="max-height: 50px"></td>
                    <td v-if="entry.type == 2"><img src="img/roll.png" style="max-height: 50px"></td>
                    <td v-if="entry.type == 0">
                        <!-- backlight tray feeder -->
                        <i style="color: gray">tray feeder is static</i>
                        <!-- <div class="badge">X: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'x')">edit</div> {{entry.position[0]}}</div>
                        <div class="badge">Y: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'y')">edit</div> {{entry.position[1]}}</div>
                        <div class="badge">width: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'width')">edit</div> {{entry.position[2]}}</div>
                        <div class="badge">height: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'height')">edit</div> {{entry.position[3]}}</div> -->
                    </td>
                    <td v-if="entry.type == 1">
                        <!-- static belt feeder -->
                        <div class="badge">position: <input type="range" min="0" :max="entry.capacity" style="width: 400px" v-model="entry.pos" v-on:change="api.feeder_modify('pos', name, entry.pos)"/> {{entry.pos}}/{{entry.capacity}}</div>
                        <div class="badge">pitch: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'pitch')">edit</div> {{entry.pitch}}</div>
                        <div class="badge">x_offset: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'x_offset')">edit</div>{{entry.offset[0]}} |
                                           y_offset: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'y_offset')">edit</div>{{entry.offset[1]}}</div>
                        <div class="badge">start_pos: <div class="table-button material" v-on:click="do_sequence('belt_set_start', name)">filter_center_focus</div>{{entry.start[0] | round}} / {{entry.start[1] | round}}</div>
                        <div class="badge">end_pos: <div class="table-button material" v-on:click="do_sequence('belt_set_end', name)">filter_center_focus</div>{{entry.end[0] | round}} / {{entry.end[1] | round}}</div>
                        <!-- <div class="badge">X: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'x')">edit</div> {{entry.position[0]}}</div>
                        <div class="badge">Y: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'y')">edit</div> {{entry.position[1]}}</div>
                        <div class="badge">width: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'width')">edit</div> {{entry.position[2]}}</div>
                        <div class="badge">height: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'height')">edit</div> {{entry.position[3]}}</div> -->
                    </td>
                    <td v-if="entry.type == 2">
                        <!-- roll belt feeder (motorized) -->
                        <div class="badge">pick_pos: <div class="table-button material" v-on:click="do_sequence('set_roll_pickpos', name)">filter_center_focus</div>{{entry.pickpos[0] | round}} / {{entry.pickpos[1] | round}}</div>
                        <div class="badge">counter: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'pos')">edit</div> {{entry.pos}}</div>
                        <div class="badge">x_offset: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'x_offset')">edit</div>{{entry.offset[0]}} |
                                           y_offset: <div class="table-button material" v-on:click="do_modify_feeder_attribute(name, entry, 'y_offset')">edit</div>{{entry.offset[1]}}</div>
                        <button v-on:click="do_sequence('roll_retract', name)">retract</button>
                        <button v-on:click="do_sequence('roll_advance', name)">advance</button>
                    </td>
                    <td><div class="table-button material" v-on:click="do_modify_feeder_rotation(name)">refresh</div> {{entry.rot}}</td>
                    <td><div class="table-button material" v-on:click="do_modify_feeder_state(name)">swap_calls</div> {{feeder_state(entry.state)}}</td>
                    <td>
                        <button v-on:click="do_sequence('test_feeder', name)">pick</button>
                        <button v-on:click="do_sequence('view_feeder', name)">view</button>
                    </td>
                </tr>
            </table>
            <br>
            <i style="float: right; color: gray">feeders can be added or removed by editing 'context.json'</i>
        </div></transition>

        <transition name="transition-page"><div class="page" v-if="page == 2">
            <div style="margin-bottom: 20px">
                <label class="switch"><input type="checkbox" checked v-model="elements.show_camera"><span class="slider round"></span></label>
                <label class="switcher-label">show camera</label>
                <label class="switch"><input type="checkbox" checked v-model="elements.center_camera"><span class="slider round"></span></label>
                <label class="switcher-label">center camera</label>
                <label class="switch"><input type="checkbox" checked v-model="elements.show_symbol"><span class="slider round"></span></label>
                <label class="switcher-label">show symbols</label>
                <label class="switch"><input type="checkbox" checked v-model="elements.show_parts"><span class="slider round"></span></label>
                <label class="switcher-label">show parts</label>
                <label class="switch"><input type="checkbox" checked v-model="nav.light.topdn" v-on:change="api.light_control('topdn', nav.light.topdn)"><span class="slider round"></span></label>
                <label class="switcher-label">light topdn</label>
                <!-- <label class="switch"><input type="checkbox" checked v-model="nav.light.botup" v-on:change="api.light_control('botup',  nav.light.botup)"><span class="slider round"></span></label>
                <label class="switcher-label">light botup</label> --><!-- not working -->
                <label class="switch"><input type="checkbox" checked v-model="nav.light.tray" v-on:change="api.light_control('tray', nav.light.tray)"><span class="slider round"></span></label>
                <label class="switcher-label">light tray</label>
                <span style="width: 240px; display: inline-block; text-align: left;"><label v-if="nav_init">mouse: ({{canvas.cursor_mm.x | round}}/{{canvas.cursor_mm.y | round}})mm</label></span>
                <span style="width: 240px; display: inline-block; text-align: left;"><label v-if="nav_init">robot ({{nav.camera.x | round}}/{{nav.camera.y | round}})mm</label></span>
                <button class="fiducial-assign hint-parent" v-for="(part, id)  in fiducial_bom.designators" v-on:click="fiducial_assing_current_location(id, 'assign')">{{id}}<div class="fiducial-assign-hint">Assign Fiducial</div></button>
                <button class="fiducial-assign hint-parent" v-on:click="do_sequence('auto_set_fiducial')" v-if="nav.pcb ? Object.keys(nav.pcb.fiducials).length >= 2 : false">Auto<div class="fiducial-assign-hint">Automagically assign fiducials</div></button>
            </div>
            <div class="canvas_container">
                <canvas id="canvas-view" width="185" height="80" @mousemove="mousemove" v-on:click="mouseclick" @mousewheel="mousewheel" @mousedown="mousedown" @mouseup="mouseup"></canvas>
            </div>
        </div></transition>

        <transition name="transition-page"><div class="page debug-page" v-if="page == 3">
            <h3>Debug View <div class="table-button material" v-on:click="debug = {}; setTimeout(() => {poll_debug()})">refresh</div></h3>
            <div class="debug-section" v-for="(entry, name) in debug" v-if="Object.keys(entry).length">
                <span v-if="entry.type == 'image'">
                    <p>{{name}}</p>
                    <a v-bind:href="entry.src"><img v-bind:src="entry.src"></a>
                </span>
                <span v-if="entry.type == 'text'">
                    <p>{{name}}</p>
                    <p class="debug-text">{{entry.text}}</p>
                </span>
            </div>
        </div></transition>


    </div>


</div>
</body>
</html>